/* Estilizando a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

.partida {
    margin-bottom: 10px;
}

label {
    font-size: 16px;
}

select {
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
}

#pontuacao, #campeao {
    font-size: 18px;
    font-weight: bold;
}
